img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

/* pontilhar a área de drop photo */
.nv-file-over {
    border: dotted 3px red;
}

/* Ocultar o texto do imput para não dar overlap no div de upload geral */
input[type=file] {
    color: transparent;
}